:host {
  display: block;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar-pill {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  padding: 0.5rem;
  margin: 1rem 0;
}

.eco-leaf {
  position: relative;
  width: 24px;
  height: 24px;

  &::before {
    content: '';
    position: absolute;
    background: currentColor;
    width: 12px;
    height: 12px;
    border-radius: 12px 0;
    transform: rotate(45deg);
    left: 6px;
    top: 6px;
  }
}

.navbar-visible {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.3s ease, visibility 0s;
}

.navbar-hidden {
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s ease, visibility 0s 0.3s;
}

@media (max-width: 767px) {
  .navbar-pill {
    border-radius: 1rem;
    overflow: hidden;
  }
}