<div class="map-container">
  <!-- Loading Indicator -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner">
      <i class="fas fa-circle-notch fa-spin fa-3x"></i>
      <p>Loading facilities...</p>
    </div>
  </div>

  <!-- Map Component -->
  <google-map 
    height="600px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    (mapInitialized)="onMapInitialized($event)">
  </google-map>

  <!-- Facilities count indicator -->
  <div class="facilities-count" *ngIf="!isLoading">
    <span>{{ filteredFacilities.length }} facilities</span> 
    <span *ngIf="facilities.length !== filteredFacilities.length">
      (filtered from {{ facilities.length }})
    </span>
  </div>
</div>